:root {
    --Tomato : hsl(4, 100%, 67%);
    --TomatoTransparent : hsla(4, 100%, 67%, .2);
    --DarkSlateGrey : hsl(234, 29%, 20%);
    --CharcoalGrey : hsl(235, 18%, 26%);
    --Grey : hsl(231, 7%, 60%);
    --White : hsl(0, 0%, 100%);
    --RobotoRegular : Roboto Regular;
    --RobotoBold : Roboto Bold;
    /* GRADIENT */
    --PinkColor : hsl(347.78deg 98.82% 66.86%);
    --PinkColorTransparent : rgba(254, 87, 120, 0.3);
    --OrangeColor : hsl(13.37deg 100% 62.16%);
    --Gradient : linear-gradient(60deg, var(--PinkColor), var(--OrangeColor));
}
@font-face {
    font-family: Roboto Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--RobotoRegular);
}
body {
    background: var(--CharcoalGrey);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.card {
    background: var(--White);
    border-radius: 1.5rem;
    /* max-width: 42rem; */
    width: 42rem;
    padding: 1rem 0;
    box-shadow: 5px 10px 20px var(--DarkSlateGrey);
    display: flex;
    justify-content: flex-start;
    /* gap: 1rem; */
    color: var(--DarkSlateGrey);
}
.card .left,
.card .right {
    flex: 1;
    width: 100%;
}
.card .left {
    padding: 3rem 2rem 3rem 3rem;
    font-size: .7rem;
}
.card .left h1 {
    font-family: var(--RobotoBold);
    font-size: 2.5rem;
}
.card .left>p {
    margin-block: 1rem;
}
.card .themes {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 90%;
}
.card .themes .theme {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .7rem;
}
.card .themes .theme .svg {
    width: 1rem;
    height: 1rem;
    aspect-ratio: 1;
    border-radius: 2rem;
    background-image: url(../images/icon-list.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.card .left form {
    margin-block-start: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
.card .left form label{
    font-family: var(--RobotoBold);
    display: flex;
    justify-content: space-between;
}
.card .left form label span {
    text-align: right;
    color: var(--Tomato);
    display: none;
}
.card .left form label span.invalid {
    display: block;
}
.card .left form input {
    padding: .7rem 1rem;
    border-radius: .3rem;
    border: none;
    transition: .5s ease;
    color: inherit;
    font-size: .7rem;
}
.card .left form input[type="email"] {
    border: 1px solid var(--Grey);
}
.card .left form input[type="email"].invalid {
    border: 1px solid var(--PinkColor);
    background: var(--TomatoTransparent);
    color: var(--PinkColor);
}
.card .left form input[type="email"]:focus {
    border: 1px solid var(--CharcoalGrey);
}
.card .left form input[type="submit"] {
    background: var(--DarkSlateGrey);
    color: var(--White);
    margin-block: 1rem;
    cursor: pointer;
}
.card .left form input[type="submit"]:hover {
    background-image: var(--Gradient);
    box-shadow: 0 10px 10px var(--PinkColorTransparent);
}

.card .right {
    background-image: url(../images/illustration-sign-up-desktop.svg);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    margin-inline: 1rem;
}
@media only screen and (max-width: 550px) {
    * {
        font-size: .95rem;
    }
    body {
        align-items: start;
        background: inherit;
    }
    .card {
        flex-direction: column-reverse;
        width: 100%;
        border-radius: 0;
        padding: 0;
        box-shadow: none;
    }
    .card .left,
    .card .right {
        flex: auto;
        width: 100%;
    }
    .card .left {
        padding: 1.5rem;
        padding-top: 2rem;
    }
    .card .left>p {
        margin-block: 1.2rem;
    }
    .card .left .themes {
        gap: 1rem;
    }
    .card .left .themes .theme {
        align-items: baseline;
    }
    .card .themes .theme .svg {
        width: .95rem;
        height: .95rem;
        top: 2px;
        position: relative;
    }
    .card .left form label,
    .card .left form label span {
        font-size: .7rem;
    }
    .card .left form input {
        font-size: .95rem;
        padding: 1rem;
    }
    .card .right {
        height: 12rem;
        margin: 0;
        background-image: url(../images/illustration-sign-up-mobile.svg);
        background-position: center;
        background-size: cover;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}